/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "polls";
@import "login";

$primary_color: white;

html {
  font-size: 16px;
}

body {
  background-color: #F5F8FA;
  padding-top: 70px;
}

.container {
  max-width: 1040px;
}

.topbar {
  nav {
    padding: 0.640625rem 1rem;
    background-color: $primary_color;
  }
}