/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$primary_color: white;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "grid_extension";
@import "polls";
@import "login";
@import "users";
@import "bootstrap_extensions";
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

html {
  height: 100%;
  font-size: 14.5px;
  letter-spacing: 0.45px;
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1rem;
  min-height: 100%;
}

[contentEditable]:empty {
  min-height: 1.5rem
}

[contentEditable]:empty::before{
  content: attr(data-placeholder);
  opacity: 0.5;
}

// Style
body {
  background-color: #E9EBEE;
}


div[contenteditable] {
  height: auto;
}

ul {
  list-style: none;
  padding: 0
}

label {
  cursor: pointer;
}

.navbar-header #current-user-dropdown {
  display: inline-block;
  background-color: #C0C0C0;
  vertical-align: top;
  &>button {
    border: none;
    padding: 0.824137931rem 1rem;
  }
}

#dashboard-bg {
  height: 150px;
  border-bottom: 1px rgba(200,200,200,0.2) solid;
}

.media-object {
  background-color: #C0C0C0;
}

.character-limit-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(100,100,100, 0.4);

  &.danger {
    color: $brand-danger;
  }
}

time.timeago {
  color: #C0C0C0;
  font-size: .9rem;
}

.dropdown-menu {
  .btn-checkbox {
    border: none;
  }
}

.active, .btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-checkbox {
  .glyphicon {
    top: 1.25px;
  }
}

[data-href] {
  cursor: pointer;
}