/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "grid_extension";
@import "polls";
@import "login";

$primary_color: white;

html {
  font-size: 16px;
  letter-spacing: 0.65px;
}

body {
  padding-top: 70px;
}

// Style
body {
  background-color: #E9EBEE;
}

.topbar {
  nav {
    border-color: #d3e0e9;
  }
}

.panel {
  border-color: #d3e0e9;
}

// Bootstrap overrides

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

.panel, textarea,
textarea.form-control,
div[contenteditable],
.btn {
  border-radius: 2.2px;
}

.btn {
  min-width: 65px;
  padding: 3.5px 11.5px;
}

.topbar {
  nav {
    background-color: $primary_color;
  }
}

.panel {
  margin-bottom: 0.75rem;
}

.navbar {
  min-height: 1rem;
}

.navbar-brand {
  padding: 0.765625rem 1rem;
  height: auto;
}

div[contenteditable] {
  height: auto
}