.container {
  max-width: 1040px;
  min-width: 960px;
}

[class*="col-"], .form-group {
  margin-bottom: 0.5rem;
}

.form-inline [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

[class*="col-"] {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.row {
  margin-right: -0.375rem;
  margin-left: -0.375rem;
}

.form-inline .row {
  margin-left: 0;
  margin-right: 0;
}

.row {
  .row:last-child [class*="col-"] {
    margin-bottom: 0;
  }
}

.navbar-form {
  margin: 0.375rem 0;
}

