.poll-list {
  list-style: none;
  padding: 0;
}

.poll-item {
  background-color: white;
  p { word-wrap: break-word }
}

#poll-form {
  margin-bottom: 1.3rem;

  &> .panel {
    padding-top: 1rem;
  }
}