.poll-list {
  list-style: none;
  padding: 0;
}

.poll-item {
  background-color: white;
  p {
    word-wrap: break-word;
    font-size: 1.5rem;
  }
  .list-group-item {
    cursor: pointer;
    &:hover {background-color: #F6F7F9}
  }
}

#poll-form {
  margin-bottom: 1.3rem;

  &> .panel {
    padding-top: 1.3rem;
  }

  .list-group-item  {
    padding-top: 0;
    padding-bottom: 0;
    &> .form-control {
      border: none;
      box-shadow: none;
    }
    &> .form-control:focus::-webkit-input-placeholder {
      color: rgba(100,100,100, 0.4);
    }
    &> .form-control:focus::-moz-placeholder {
      color: rgba(100,100,100, 0.4);
    }
  }
}

.panel-actions {
  .list-group {
    margin-bottom: 0;
  }
}

#poll-text {
  border: none;
  box-shadow: none;
}

#poll-text-wrapper {
  cursor: text;
}