#dashboard {
  text-align: center;
}

#dashboard-profile {
  margin-top: -45px;
  display: inline-block;
  width: 64px;
  padding-bottom: 1rem;
  &> img {
    display: block;
    width: 64px;
    height: 64px;
    border: 1px rgba(200,200,200,0.2) solid;
  }
}

.avatar {
  width: 48px;
  height: 48px;
}

#profile-banner {
  height: 24.1379310345rem;
  border: 1px red solid;
  margin-bottom: 1rem;
}

#profile-card {
  border: 1px red solid;
  height: 20rem;
  margin-top: -9rem;
}

#profile-actions {
  .btn {
    width: 100%;
  }
}